@page "/encrpty"
<div class="col-12 py-2">

    <div class="row mt-1">
        <div class="col-12">
            <textarea class="form-control" rows="10" @bind="OriginContent"
                      placeholder="原文"></textarea>
        </div>
        <div class="d-flex mt-2">
            <button class="btn btn-primary" @onclick="EncryptContent">MI'a</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" @onclick="DecryptContent">YI'a</button>
        </div>

        <div class="col-12 mt-2">
            <textarea class="form-control" rows="10" @bind="EnCryptedContent"
                      placeholder="密后"></textarea>
        </div>
    </div>
</div>
@code {
    public string? OriginContent { get; set; }
    public string? EnCryptedContent { get; set; }

    public void EncryptContent()
    {
        if (OriginContent != null)
        {
            var trimContent = OriginContent.Trim();
            var bytes = Encoding.UTF8.GetBytes(trimContent, 0, trimContent.Length);
            if (bytes.Length % 2 == 1)
            {
                bytes = bytes.Append(Byte.MinValue).ToArray();
            }
            var reverse = bytes.Reverse().ToArray();
            EnCryptedContent = Encoding.Unicode.GetString(reverse);
        }
    }

    public void DecryptContent()
    {
        if (EnCryptedContent != null)
        {
            var bytes = Encoding.Unicode.GetBytes(EnCryptedContent, 0, EnCryptedContent.Length);
            var reverse = bytes.Reverse().ToArray();
            OriginContent = Encoding.UTF8.GetString(reverse);
        }
    }
}
