@inherits LayoutComponentBase
@inject AuthService auth
@inject NavigationManager navigator

<Layout>
  <LayoutHeader Fixed="true">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:0 2px">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">DevPlatform</a>
        <TopMenu></TopMenu>
        <TopUserBlock></TopUserBlock>
      </div>
    </nav>
  </LayoutHeader>
  <Layout Sider="true">
    <LayoutSider>
      <LayoutSiderContent>
        <NavMenu></NavMenu>
      </LayoutSiderContent>
    </LayoutSider>
    <Layout>
      <LayoutContent>
        <div class="content p-2">
          @Body
        </div>
      </LayoutContent>
    </Layout>
  </Layout>
</Layout>
