<form fxLayout="row wrap" [formGroup]="formGroup" (ngSubmit)="add()">
  <div class="px-1" fxLayout="column" fxFlex="none" fxLayoutAlign="start start" fxLayoutGap="8px">
    <h2>添加代码片段</h2>
    <mat-form-field>
      <mat-label>名称</mat-label>
      <input matInput placeholder="Entity Name" formControlName="name" minlength="" maxlength="100">
      <mat-error *ngIf="name?.invalid">
        {{getValidatorMessage('name')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>描述</mat-label>
      <textarea matInput placeholder="Description" formControlName="description" minlength="" maxlength="500"
        rows="3"></textarea>
      <mat-error *ngIf="description?.invalid">
        {{getValidatorMessage('description')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>语言</mat-label>
      <mat-select placeholder="Language" formControlName="language" (selectionChange)="changeLanguage($event)">
        <mat-option *ngFor="let item of languageSelection" [value]="item.value">
          {{item.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>类型</mat-label>
      <mat-select placeholder="codeType" formControlName="codeType">
        <mat-option *ngFor="let item of codeTypeSelection" [value]="item.value">
          {{item.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">添加</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px" fxFlex="auto">
    <ngx-monaco-editor [options]="editorOptions" formControlName="content" class="editor" (init)="editorInit($event)">
    </ngx-monaco-editor>
  </div>
</form>
