@page "/signUp"
@layout BlankLayout

<div class="container">
  <div class="signIn">
    <EditForm Model="Model"  style="width:100%">
      <div class="form-group">
        <TextEdit @bind-Value="@Model.Username" />
      </div>
      <div class="form-group ">
        <TextEdit type="password" @bind-Value="@Model.Password" />
      </div>
      <div class="form-group">
        <Button ButtonType="ButtonType.Submit" class="form-control" IsAsync="true" Text="登录" />
      </div>
    </EditForm>
  </div>
</div>
