@page "/signIn"
@layout BlankLayout

<div class="row align-itmes-center justify-content-center">
    <form action="">
      <input type="text">
      <button>登录</button>
    </form>
</div>


@code {

}
