@inherits LayoutComponentBase
@*top nav*@
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DevPlatform</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <span>
      @*TODO:login state*@
      <NavLink href="signUp">注册</NavLink>
      <NavLink href="signIn">
        <span>登录</span>
      </NavLink>
    </span>
  </div>
</nav>

@*middle content*@
  @Body

