@inherits LayoutComponentBase
<Layout>
  <Header>
    <div class="text-center header">Header</div>
  </Header>
  <Side>
    <NavMenu />
  </Side>
  <Main>
    <div class="top-row px-4">
      <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>
    <div class="content px-4">
      @Body
    </div>
  </Main>
</Layout>


