@inject AuthService auth
@inject NavigationManager navigator

<div>
  @if (IsLogin)
  {
    <Icon Name="IconName.UserCircle"></Icon>
    <NavLink href="/portal/index">@auth.Username</NavLink>
    <NavLink @onclick="SignOut">
      <span>退出</span>
    </NavLink>
  }
  else
  {
    <NavLink href="signIn">
      <span>登录</span>
    </NavLink>
  }
</div>

@code {
  public bool IsLogin { get; set; }
  protected override void OnInitialized()
  {
    IsLogin = auth.IsLogin;
  }
    async Task SignOut()
  {
    await auth.ClearAsync();
    navigator.NavigateTo("index", true);
  }

}
