@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.left-nav {
    height: calc(100vh - 76px);
    border-right: 1px solid #eee;
}
.monaco-editor-container {
    height: calc(100vh - 76px);
    border: 1px solid gray;
}
