@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inherits LayoutComponentBase
@inject IconService iconService;
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <AuthorizeView>
                <Authorized>
                    Hello, @context.User.Identity.Name!
                    <button class="nav-link btn btn-link" @onclick="BeginLogout">Log out</button>
                </Authorized>
                <NotAuthorized>
                    <a href="authentication/login">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code
{
    protected override async Task OnInitializedAsync()
    {
        await iconService.CreateFromIconfontCN("//at.alicdn.com/t/font_2880877_ww9reeen2i.js");

    }
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
