<legend>
  <h2>编辑CodeSnippet</h2>
</legend>
<form *ngIf="!isLoading" [formGroup]="formGroup" (ngSubmit)="edit()">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="8px">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name"   minlength="" maxlength="100">
    <mat-error *ngIf="name?.invalid">
    {{getValidatorMessage('name')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput placeholder="Description" formControlName="description"   minlength="" maxlength="500">
    <mat-error *ngIf="description?.invalid">
    {{getValidatorMessage('description')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Content</mat-label>
    <input matInput placeholder="Content" formControlName="content"   minlength="" maxlength="4000">
    <mat-error *ngIf="content?.invalid">
    {{getValidatorMessage('content')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>UpdatedTime</mat-label>
    <input matInput [matDatepicker]="updatedTimePicker" placeholder="UpdatedTime" formControlName="updatedTime">
    <mat-datepicker-toggle matSuffix [for]="updatedTimePicker"></mat-datepicker-toggle>
    <mat-datepicker #updatedTimePicker startView="multi-year"></mat-datepicker>
    <mat-error *ngIf="updatedTime?.invalid">
    {{getValidatorMessage('updatedTime')}}
    </mat-error>
  </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" class="mt-2">
    <button mat-flat-button color="primary" type="submit">更新</button>
  </div>
</form>